{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

{% comment %} <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card p-4" style="width: 300px;">
        <form action="#" method="post">
            <h2 class="text-center">Login</h2>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
</div> {% endcomment %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card p-4" style="width: 300px;">
 <h4 class="mb-4 fw-bold text-center">Login </h4>
<form action="#" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="button-box btn-hover">
        <button type="submit">{% trans 'Log in' %}</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
    <div class="login-toggle-btn">
        <a href="{% url 'auth_password_reset' %}">Forgot Password?</a>
    </div>
    <div class="login-toggle-btn">
        <a href="{% url 'registration_register' %}">Not a member? Register.</a>
    </div>

</form>
</div>
</div> 

{% endblock %}